<header class="header transparent">
  <div class="header-inner">
    <a href="<%= root_path %>" class="header-brand">
      <%= image_tag 'nails-logo.jpg', alt: 'Royal Nail', class: 'logo' %>
      <span class="brand-name">Royal Nail</span>
    </a>
    <nav>
      <%= link_to 'Accueil', root_path %>
      <a href="#">Onglerie</a>
      <a href="#">Massages</a>
      <%= link_to 'Contact', contact_path %>
    </nav>
  </div>
</header>
