<header class="header transparent">
    <%= image_tag 'nails-logo.jpg', alt: 'Manucure Élégance', class: 'logo' %>
      <nav>
            <a href="">Accueil</a>
            <a href="">Onglerie</a>
            <a href="">Massages</a>
            <a href="">Contact</a>
      </nav>
</header>
