<%= render 'shared/hero', hero_class: 'contact-hero', hero_title: 'Contactez-nous', hero_description: 'Nous sommes à votre écoute pour toute question ou réservation.' %>
<div id="map" style="height: 250px; width: 100%; ;"></div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var map = L.map('map').setView([47.75847930119338, -3.370361642863164], 13); // Coordonnées par défaut : Paris

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    L.marker([47.75847930119338, -3.370361642863164]).addTo(map)
      .bindPopup('Notre salon de manucure à Lorient !')
      .openPopup();
  });
</script>
